<!DOCTYPE >
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/resume.css"
      media="all"
    />
    <title>Resume Builder</title>
  </head>
  <body>
    <div id="doc2" class="yui-t7">
      <div id="inner">
        <div id="hd">
          <div class="yui-gc">
            <div class="yui-u first">
              <h1><%= profile.info.name %></h1>
              <h2><%= profile.info.title %></h2>
            </div>

            <div class="yui-u">
              <div class="contact-info">
                <h3><a href="<%= profile.info,linkedIn %>">LinkedIn</a></h3>
                <h3>
                  <a href="mailto:<%= profile.info.email %>"></a>
                    <%= profile.info.email %>
                  </a>
                </h3>
                <h3><%= profile.info.phone %></h3>
              </div>
              <!--// .contact-info -->
            </div>
          </div>
          <!--// .yui-gc -->
        </div>
        <!--// hd -->

        <div id="bd">
          <div id="yui-main">
            <div class="yui-b">
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Personal Skills</h2>
                </div>
                <div class="yui-u">
                  <p class="enlarge"><%= profile.personal_skills %></p>
                </div>
              </div>
              <!--// .yui-gf -->
              <%= if (profile.projects.length > 0) { %>
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Projects</h2>
                </div>
                <% foreach (profile.projects as proj) { %>
                <div class="yui-u">
                  <div class="talent">
                    <h2><%= proj.name %></h2>
                    <p><%= proj.description %></p>
                  </div>
                </div>
                <% } %>
              </div>
              <!--// .yui-gf -->
              <% } else { %>
				<br>
				<% } %> 

              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Technical Skills</h2>
                </div>
                <div class="yui-u">
                  <ul class="talent">
                    <li><%= profile.skills[0] %></li>
                    <li><%= profile.skills[1] %></li>
                    <li class="last"><%= profile.skills[2] %></li>
                  </ul>

                  <%= const noOfSkills = Math.min(profile.skills.length, 6); %>

                  <ul class="talent">
                    <% for (let i = 3; i < noOfSkills; i++) { %>
                    <li>profile.skills[i]</li>
                    <% } %>
                  </ul>


				  <ul class="talent">
					<% for (let i = 6; i < noOfSkills; i++) { %>
					<li>profile.skills[i]</li>
					<% } %>
				  </ul>
                </div>
              </div>
              <!--// .yui-gf-->

			  <% if (profile.experience.length > 0) { %>
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Experience</h2>
                </div>
                <!--// .yui-u -->
				<div class="yui-u">
				  <ul class="talent">
					<% foreach (profile.experience as exp) { %>
					<li>
					  <h2><%= exp.company %></h2>
					  <h3><%= exp.title %></h3>
					  <h4><%= exp.start %> - <%= exp.end %></h4>
					  <p><%= edu.description %></p>
					</li>
					<% } %>
				  </ul>
				</div>
                <!--// .yui-u -->
              </div>
			  <% } else { %>
				<br>
				<% } %>

              <!--// .yui-gf -->

              <div class="yui-gf last">
                <div class="yui-u first">
                  <h2>Education</h2>
                </div>
                <div class="yui-u">
                  <h2>profile.education.school</h2>
                  <h3>
                    <%= profile.education.program %>, <%= profile.education.major %>&mdash;
                    <strong>
						<%= profile.education.score %>
					</strong>
                  </h3>
                </div>
              </div>
              <!--// .yui-gf -->
            </div>
            <!--// .yui-b -->
          </div>
          <!--// yui-main -->
        </div>
        <!--// bd -->

        <div id="ft">
          <p>
            <%= profile.info.name %> &mdash;
            <a href="mailto:<%= profile.info.email %>"
              >
				<%= profile.info.email %>			
			  </a
            >
            &mdash; <%= profile.info.phone %>
          </p>
        </div>
        <!--// footer -->
      </div>
      <!-- // inner -->
    </div>
    <!--// doc -->
  </body>
</html>
