<%- include('partials/header.ejs') %>

<section>
  <form class="p-4" method="post" action="/resume">
    <h2 class="text-4xl font-bold mb-4">Personal Information</h2>
    <!-- Personal Information -->
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-name"
        >
          Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-name"
          type="text"
          name="name"
          placeholder="Jane"
          required
        />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-email"
        >
          Email
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-email"
          type="email"
          name="email"
          placeholder="jane-doe@email.com"
          required
        />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-phone"
        >
          Phone
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-phone"
          type="text"
          name="phone"
          placeholder="(123) 456-7890"
          required
        />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-phone"
        >
          LinkedIn
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-linkedIn"
          type="text"
          name="linkedin"
          placeholder="www.linkedin.com/us/jane-doe"
        />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 mt-1">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-title"
        >
          Current Job Title
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-title"
          type="text"
          name="job_title"
          placeholder="Web Developer"
        />
      </div>
    </div>
    <!-- End Personal Information -->

    <!-- Education -->
    <h2 class="text-4xl font-bold mb-4">Education</h2>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-school"
        >
          School/University
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-school"
          type="text"
          name="education[school]"
          placeholder="IIT, Guwahati"
          required
        />
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-school-program"
        >
          Program
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-school-program"
          type="text"
          name="education[program]"
          placeholder="B. Tech."
          required
        />
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-school-major"
        >
          Major
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-school-major"
          type="text"
          name="education[major]"
          placeholder="Computer Science"
          required
        />
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-school-score"
        >
          Score/CPI
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-school-score"
          type="text"
          name="education[score]"
          placeholder="9.0 cpi"
          required
        />
      </div>
    </div>

    <h2 class="text-4xl font-bold mb-4">Experience</h2>

    <div class="flex flex-wrap -mx-3 mb-6">
      <% for (var i = 1; i <= 3; i++) { %>

      <h3 class="text-3xl mb-3 mt-3 w-full mx-3">Job <%= i %></h3>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-company-<%= i %>"
        >
          Company
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-company-<%= i %>"
          type="text"
          name="experience[<%= i %>][company]"
          placeholder="Google"
        />
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-job-<%= i %>"
        >
          Job Title
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-job-<%= i %>"
          type="text"
          name="experience[<%= i %>][job]"
          placeholder="Web Developer"
        />
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-job-start-<%= i %>"
        >
          Start Date
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-job-start-<%= i %>"
          type="text"
          name="experience[<%= i %>][start]"
          placeholder="01/01/2020"
        />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-job-end-<%= i %>"
        >
          End Date
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-job-end-<%= i %>"
          type="text"
          name="experience[<%= i %>][end]"
          placeholder="01/01/2020"
        />
      </div>

      <div class="w-full mb-6 md:mb-0 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-job-description-<%= i %>"
        >
          Job Description
        </label>
        <textarea
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-job-description<%= i %>"
          type="text"
          name="experience[<%= i %>][description]"
          placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ></textarea>
      </div>
      <% } %>
    </div>

    <h2 class="text-4xl font-bold mb-4">Skills</h2>

    <div class="flex flex-wrap -mx-3 mb-6">
      <% for (var i = 1; i <= 3; i++) { %>
      <div class="w-1/2 md:w-1/3 mb-6 md:mb-0 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-skills-<%= i %>"
        >
          Skill <%= i %>*
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-skills-<%= i %>"
          type="text"
          name="skills[<%= i %>]"
          placeholder="HTML, CSS"
          required
        />
      </div>
      <% } %> <% for (var i = 4; i <= 9; i++) { %>
      <div class="w-1/2 md:w-1/3 mb-6 md:mb-0 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-skills-<%= i %>"
        >
          Skill <%= i %>
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-skills-<%= i %>"
          type="text"
          name="skills[<%= i %>]"
          placeholder="HTML, CSS"
        />
      </div>
      <% } %>
    </div>

    <h2 class="text-4xl font-bold mb-4">Projects</h2>

    <div class="flex flex-wrap -mx-3 mb-6">
      <% for (var i = 1; i <= 3; i++) { %>
      <h3 class="text-3xl mb-3 mt-3 w-full">Project <%= i %></h3>
      <div class="w-full md:w-1/3 mb-6 md:mb-0 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-projects-<%= i %>"
        >
          Project Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-projects-<%= i %>"
          type="text"
          name="projects[<%= i %>][name]"
          placeholder="Project Name"
        />
      </div>
      <div class="w-full md:w-2/3 mb-6 md:mb-0 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-projects-<%= i %>"
        >
          Project Description
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-projects-<%= i %>"
          type="text"
          name="projects[<%= i %>][description]"
          placeholder="Project Description"
        />
      </div>
      <% } %>
    </div>

    <h2 class="text-4xl font-bold mb-4">Profile Summary</h2>

    <div class="flex flex-wrap -mx-3 mb-6 px-3">
      <textarea
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-job-description<%= i %>"
        type="text"
        name="summary"
        placeholder="Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        required
      ></textarea>
    </div>

    <button
      type="submit"
      class="bg-blue-700 focus:bg-blue-500 py-2 px-6 rounded-lg text-white"
    >
      Submit
    </button>
  </form>
</section>

<%- include('partials/footer.ejs') %>
